body {
  margin: 0px;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;


}

h1 {
  margin: 0px;
  color:#66BFBF;
}
h2 {
  color:#66BFBF;
  font-weight: normal;
}
h3 {
  color:#11999E;
}



.top-contairner {
  background-color: #e3fdfd;
  position:relative;
  padding-top: 100px
}

.middle-container {
  background-color:;
}

.bottom-container {
  background-color:#e3fdfd;
  margin:0px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}
.contact-me{
  margin:0px;
}

.skill-row {
  width:50%;
 margin:100px auto 100px auto;
 text-align: left;
 line-height:2;
}
.coding-pic{
  width: 25%;
  float: left;
  padding-right:30px;
}

hr{
  border-top: dotted 10px;
  width:10%;
  color:grey;
}
